* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    width: 100%;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }

  nav li {
    margin-left: 0;
    margin-bottom: 0;
  }

  .logo {
    order: 2;
  }

  .nav-toggle {
    order: 1;
  }

  .nav-menu {
    order: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav-menu li {
    margin: 15px 0;
  }

  .nav-menu a {
    font-size: 1.2rem;
  }
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card p {
  text-align: justify;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f6f2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.card img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.card h2 {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

  
  
  